[uwsgi]
uid = {{ heat_system_user_name }}
gid = {{ heat_system_group_name }}

virtualenv = /openstack/venvs/heat-{{ heat_venv_tag }}
wsgi-file = {{ heat_bin }}/{{ item.wsgi_name }}
http-socket = {{ item.uwsgi_bind_address }}:{{ item.uwsgi_port }}

master = true
enable-threads = true
processes = {{ heat_wsgi_processes }}
threads = {{ heat_wsgi_threads }}
exit-on-reload = true
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ heat_wsgi_buffer_size }}
thunder-lock = true
logfile-chmod = 644
